<clr-main-container>
  <clr-header>

    <div class="header-nav" [clr-nav-level]="1">
      <h1>Admin GSS</h1>
    </div>

  </clr-header>
  <div class="content-container">
    <main class="content-area">
      les produits
    </main>
    <nav class="sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <a href="javascript://" class="nav-link active">Produits</a>
        <a href="javascript://" class="nav-link ">Commandes</a>
        <a href="javascript://" class="nav-link ">Clients</a>
        <a href="javascript://" class="nav-link ">Catégories</a>
      </section>
    </nav>
  </div>
</clr-main-container>

